{{ if isset .Site.Params "events" }}
{{ if .Site.Params.events.enable }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.events.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.events.subtitle | markdownify }}
                </p>

                <div>
                  <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=2&amp;bgcolor=%23ecf2f8&amp;ctz=Europe%2FCopenhagen&amp;src=MnNzNGg5MTd0dGJpazkzanA0bjdra3RvNW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showNav=1&amp;showTitle=0" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
                </div>

                <ul class="events">
                  {{ $DateFormat := "Mon, Jan 2, 2006 at 15:04" }}
                  {{ range sort .Site.Data.events ".start_date" "asec" }}
                  {{ if (time .start_date).After now }}
                  <br>
                  <li class="item">
                      <div class="event">
                          {{ if isset . "software" }}
                            {{ range .software}}
                              <span class="badge">{{ . }}</span>
                            {{ end }}
                          {{ end }}
                          {{ if isset . "type" }}
                            <span class="badge">{{ .type | humanize }}</span>
                          {{ end }}
                          {{ if isset . "level" }}
                            <span class="badge">{{ .level | humanize }}</span>
                          {{ end }}
                        <p>
                          <strong>{{ .name | upper }} on {{ dateFormat $DateFormat .start_date }}</strong>
                        </p>
                        <p>{{ .description | markdownify }}</p>
                        <p><strong>Location:</strong> {{ .location }}.</p>
                        <br>
                        {{ if isset . "link" }}
                        <p class="buttons" align="center"><a href="{{ .link }}" class="btn btn-template-main">More Details</a>
                        </p>
                        {{ end }}
                      </div>
                  </li>
                  {{ end }}
	                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
