{{ if isset .Site.Params "events" }}
{{ if .Site.Params.events.enable }}
<section class="bar background-pentagon no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.events.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.events.subtitle | markdownify }}
                </p>

                <ul class="events">
                  {{ $DateFormat := "Mon, Jan 2, 2006 at 15:04" }}
                  {{ range sort .Site.Data.events ".start_date" "asec" }}
                  {{ if (time .start_date).After now }}
                  <br>
                  <li class="item">
                      <div class="event">
                        <p>
                          {{ if isset . "level" }}
                            <span class="badge">{{ .level | humanize }}</span>
                          {{ end }}
                          <strong>{{ .name | upper }} on {{ dateFormat $DateFormat .start_date }}</strong>
                        </p>
                        <p>{{ .description | markdownify }}</p>
                        <p><strong>Location:</strong> {{ .location }}.</p>
                        <br>
                        {{ if isset . "link" }}
                        <p class="buttons" align="center"><a href="{{ .link }}" class="btn btn-template-main">More Details</a>
                        </p>
                        {{ end }}
                      </div>
                  </li>
                  {{ end }}
	                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
