/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.badge {
  color: #ffffff;
  background-color: #467fbf;
}

div, iframe {
  margin: 0 auto;
  display:block;
}
